<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhoneList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0778CC3A1FA3086F00B9E632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0778CC4E1FA3087400B9E632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0778CC591FA3087400B9E632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
